{% extends 'base.html' %}



{% block title %}
log in user
{% endblock %}



{% block main %}

<div class="card text-center m-4 mt-5">
    <div class="card-header">
      اطلاعات حساب
    </div>
    <div class="card-body" >
      <h5 class="card-title">تاریخ اشتراک : 
        {% if sub == False %}
        ندارید
        {% else %}
        {{day}} روز
        {{date}}
      {% endif %}
      </h5>
      <h5 class="card-title">اکانت های مجاز   : {{request.user.userdata.account_count}} </h5>
      <h5 class="card-title">اکانت های ثبت شده  : {{request.user.userdata.account_used}} </h5>
      
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              افزودن کد هدیه
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <form class="form-inline"  method="post" action="{% url 'user:profile'%}">
              <div class="form-group mb-2">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                {{form.as_p}}
                {%csrf_token%}
              </div>
              <button type="submit" class="btn btn-primary mb-2">تایید</button>
            </form>          </div>
        </div>
      </div>

  </div>










  <!-- #________________________________________________________________________________ -->

  <div class="card text-center m-4 mt-5">
    <div class="card-header">
      اکانت های من
    </div>
    <div class="card-body">



    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-success" data-toggle="collapse" data-target="#collapseadd" aria-expanded="true" aria-controls="collapseOne">
 + افزودن اکانت +
            </button>
          </h5>
        </div>
    
        <div id="collapseadd" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <form class="form-inline"  method="post" action="{% url 'manager:acc' %}">
              <div class="form-group mb-2">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                {{account_form.as_p}}
                {%csrf_token%}
              </div>
              <button type="submit" class="btn btn-primary mb-2">تایید</button>
            </form>          </div>
        </div>
      </div>
      


      {% for i in useracc %}
      
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAccount" aria-expanded="true" aria-controls="collapseOne">
                {{ i.fpass }}
              </button>
            </h5>
          </div>
      
          <div id="collapseAccount" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <p>
                second = {{i.second}}
                <br>
              collected_gold =  {{i.collected_gold}}
              <br>

              player_gold =  {{i.player_gold}}
              <br>

              gold_collection_allowed =  {{i.gold_collection_allowed}}
              <br>

              gold_collection_allowed_at =  {{i.gold_collection_allowed_at}}
              <br>

              gold_collection_extraction =  {{i.gold_collection_extraction}}
              <br>

              last_gold_collect_at =  {{i.last_gold_collect_at}}
              <br>

              needs_captcha =  {{i.needs_captcha}}
              <br>

              </p>
          
            </div>
          </div>
        </div>
           </div>

  </div>
  {% endfor %}


{% endblock %}